:root{
    --main-white: #edf5e1;
    --main-blue: #05386b;
    --main-green: #5cdb95;
  }
  *{
    margin: 0;
    padding: 0;
  }
  *, *::before, *::after{
    box-sizing: inherit;
  }
  html{
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
  }
  @media (max-width: 75em) {
    html {
      font-size: 60%;
    }
  }
  @media (max-width: 61.25em) {
    html {
      font-size: 58%;
    }
  }
  @media (max-width: 28.75em) {
    html {
      font-size: 55%;
    }
  }
  body{
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.4;
    color: var(--main-white);
    background-color: var(--main-green);
  }
  h1,h2{
    font-family: Raleway, sans-serif;
    font-weight: 700;
    text-align: center;
  }
  h1{
    font-size: 6rem;
  }
  h2{
    font-size: 4.2rem;
  }
  ul{
    list-style: none;
  }
  a{
    text-decoration: none;
    color: var(--main-white);
  }
  section .nav{
    display: flex;
    justify-content: flex-end;
    position: relative;
    background:var(--main-blue);
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 0 rgba(0,0,0,0.6);
  }
  .nav-list{
    display: flex;
    justify-content: flex-end;
    margin-right: 2rem;
  }

  @media (max-width: 28.75em) {
    .nav {
      justify-content: center;
    }
  
    .nav-list {
      margin: 0 1rem;
    }
  }
  .nav-list a{
    display: inline-block;
    font-size: 2.2rem;
    padding: 2rem;
  }
  .nav-list a:hover{
    background: #379683;
  }
  .welcome-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(62deg, #379683 0%, var(--main-green) 100% );
  }
  .welcome-section > p{
    font-size: 3rem;
    font-weight: 200;
    font-style: italic;
    color: var(--main-blue);
  }
  .project-section{
    text-align: center;
    padding: 10 rem 2rem;
    background: var(--main-blue);
  }
  .project-section-header{
    max-width: 640px;
    margin: 0 auto 6rem auto;
    border-bottom: 0.2rem solid var(--main-green);
    color: var(--main-white);
  }
  @media (max-width: 28.75em) {
    .projects-section-header {
      font-size: 4rem;
    }
  }
  .project-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
    overflow: hidden;
  }
  @media (max-width: 30.625em) {
    .project-section {
      padding: 6rem 1rem;
    }
  
    .project-grid {
      grid-template-columns: 1fr;
    }
  }
  .project{
    background: var(--main-green);
    color: var(--main-white);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
    border-radius: 2px;
  }
  .code{
    opacity: 0;
    transition: 1s;
  }
  div{
    cursor: pointer;
  }
  .project-title:hover .code{
    opacity: 100%;
    color: var(--main-blue);
    transition: color 0.3s var(--main-blue);
  }
  .project-image:hover{
    border-top: solid 5px var(--main-green);
    border-left: solid 5px var(--main-green);
    border-right: solid 5px var(--main-green);
  }
  .project-image{
    height: calc(100% - 6.8rem);
    width: 100%;
    object-fit: cover;
    
  }
  .project-title{
    font-size: 2rem;
    padding: 2rem 0.5rem;
  }
  .btn {
    display: inline-block;
    padding: 2rem 2rem;
    border-radius: 2px;
    margin-bottom: 20px;
    z-index: 2;
  }
  .btn-show-all{
    font-size: 2rem;
    color: var(--main-blue);
    background: linear-gradient(62deg, #379683 0%, var(--main-green) 100% );
  }
  .btn-show-all:hover{
background: #379683;
  }
  .chevron{
    display: inline-block;
    margin-left: 5px;
  }
  .btn-show-all:hover .chevron{
    transform: translateX(10px);
    transition: margin-right 2s ease-in-out .5s;
  }
  .contact-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 80vh;
    background-image: linear-gradient(62deg, #379683 0%, var(--main-green) 100% );
  }
  .contact-section-header > h2{
    font-size: 6rem;
  }
  @media (max-width: 28.75em) {
    .contact-section-header > h2 {
      font-size: 4rem;
    }
  }
  .contact-section-header > p{
    font-style: italic;
  }
  .contact-links{
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    margin-top: 4rem;
    flex-wrap: wrap;
  }
  .contact-details{
    font-size: 2.4rem;
    text-shadow: 2px 2px 1px #1f1f1f;
    transition: transform 0.3s ease-out;
  }
  .contact-details:hover{
    transform: translateY(9px);
  }
  footer{
    font-weight: 300;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    background: linear-gradient(62deg, #379683 0%, var(--main-green) 100%);
    border-top: 5px solid var(--main-blue);
  }
  footer > p{
    margin: 2rem;
  }
  footer > i{
    vertical-align: middle;
  }
  @media (max-width: 28.75em) {
    footer {
      flex-direction: column;
      text-align: center;
    }
  }
  
  